* {
  scroll-behavior: smooth;
  font-family: "Bell MT";
}

body {
  background-image: url(/images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes bg {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
header h2 {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 35%;
  margin: auto;
  color: #275023;
  font-size: 3em;
  font-family: "Bell MT";
  font-weight: 900;
  background-color: #C5E1A5;
  z-index: -1;
  animation-name: bg;
  animation-duration: 2s;
  animation-timing-function: linear;
}
header h2 i {
  font-size: 0.5em;
  line-height: 1;
  padding: 0;
  animation-name: arrow;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-duration: 0.7s;
}

nav {
  top: 0px;
  position: sticky;
  width: 100%;
  background-color: #A5D6A7;
}
nav div ul {
  display: flex;
  justify-content: space-between;
}
nav div ul h1 {
  font-size: 4.5em;
  line-height: 0;
  color: #275023;
  margin-left: 50px;
}
nav div ul div {
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  top: 40%;
  margin-right: 50px;
}
nav div ul div li {
  list-style: none;
  transition: 0.1s linear;
}
nav div ul div li a {
  font-size: 1.2em;
  line-height: 0;
  color: #275023;
  margin: 12px;
  text-decoration: none;
  transition: 0.1s linear;
}
nav div ul div li:hover > a,
nav div ul div li:hover {
  transform: scale(1.1);
  color: #4CAF50;
  transition: 0.1s linear;
}

.main {
  margin-top: 765px;
  background-color: #C5E1A5;
}
.main h3 {
  visibility: hidden;
}
.main div {
  padding-bottom: 230px;
  padding-top: 230px;
  width: 80%;
  margin: auto;
}
.main div h2 {
  font-size: 3.5em;
}
.main div p {
  font-size: 1.7em;
  width: 50%;
  text-align: justify;
}

footer {
  padding-top: 20px;
  background-color: #A93226;
  padding-bottom: 20px;
}
footer .footer-1 {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
footer .footer-1 h3 {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 100;
  padding-bottom: 5px;
}
footer div h3 {
  padding-top: 5px;
  text-align: center;
  color: #fff;
}

.form {
  background-color: #275023;
  padding-top: 100px;
  padding-bottom: 100px;
}
.form form .container {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(197, 225, 165, 0.631372549);
  width: fit-content;
  margin: auto;
}
.form form .container .questions span {
  font-size: 1.3em;
}
.form form .container .questions .quiestion1, .form form .container .questions .quiestion2, .form form .container .questions .quiestion3, .form form .container .questions .quiestion4, .form form .container .questions .quiestion5, .form form .container .questions .quiestion6 {
  text-align: center;
}
.form form .container .user-details {
  display: flex;
  gap: 50px;
}
.form form .container .user-details .input-box input {
  height: 30px;
  width: 250px;
  box-shadow: none;
  border: 1px solid grey;
  outline: none;
  border-bottom-width: 4px;
  border-right-width: 2px;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
}
.form form .container .user-details .input-box input:focus {
  border-color: #4CAF50;
  transition: 0.3s;
}
.form form .container .user-details .input-box input::placeholder {
  font-size: 1.3em;
}
.form form .container .user-details .input-box span {
  font-size: 1.3em;
  display: block;
  margin-bottom: 10px;
}
.form form .container input[type=submit] {
  font-size: 1.5em;
  padding: 10px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}
.form form .container input[type=submit]:hover {
  background-color: #275023;
  color: #fff;
  transition: 0.2s;
}

/*# sourceMappingURL=styles.css.map */
